body{
    display: flex; 
    margin: 100px 100px;
    /* width: 1440px;   */
    
}

#calc{
    /* display: flex;  */
position:relative;
width: 440px;
background: #000;
padding-left: 10px;
padding-bottom: 10px;
height:370px;
}

.screen{

height: 50px;
margin-top: 10px;
width: 430px;

background-color: #fff;

/* box-sizing: border-box; */
}

.button{
    display: grid;
    gap: 10px 10px;
    grid-template-rows: repeat(5,50px);
    grid-template-columns: repeat(4,100px);
    margin-top: 20px;
}