body{
    display: flex; 
    margin: 100px 100px;
    /* width: 1440px;   */
    
}

#calc{
    /* display: flex;  */
position:relative;
width: 440px;
background: #313553;
padding-left: 10px;
padding-bottom: 20px;
height:370px;

}

#display {

height: 50px;
margin-top: 10px;
width: 420px;
font-size: 26px;
font-weight: bold;
background-color: #cccbcb;

/* box-sizing: border-box; */
}

.buttonall{
    display: grid;
    gap: 10px 10px;
    grid-template-rows: repeat(5,50px);
    grid-template-columns: repeat(4,100px);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

button{
    font-size: 20px;
    font-weight: bold;
    background-color: #aeadad;
}